@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  background-image: url(../img/bkg.jpg);
  box-sizing: border-box;
  overflow-x: hidden; }

h1, h2 {
  font-family: 'Bebas Neue', cursive; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

p {
  font-size: 1.2rem;
  color: black;
  line-height: 1.4rem; }

a {
  font-size: 1.3rem; }

#botonera {
  background-color: gray; }
  #botonera img {
    width: 100px; }
  #botonera li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black; }
    #botonera li a:hover {
      color: wheat;
      font-weight: 600; }
      #botonera li a:hover:active {
        color: yellow; }

#masVendidas img:hover {
  transform: scale(1.3); }

#catalogo img:hover {
  transform: scale(1.3); }

#masVendidas img {
  filter: drop-shadow(10px 10px 10px crimson); }

#opiniones img {
  filter: drop-shadow(10px 10px 10px crimson); }

#catalogo img {
  filter: drop-shadow(10px 10px 10px crimson); }

h1 {
  background-image: linear-gradient(-225deg, red 0%, black 29%, red 67%, black 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  color: black;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: cambios 5s linear infinite; }

@keyframes cambios {
  to {
    background-position: 200%; } }

.titulo {
  margin-top: 10px; }

.inicio__box {
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px auto;
  border: solid 2px black;
  padding: 20px 30px;
  box-sizing: border-box; }

.cajaImg {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block; }

.image {
  display: block;
  width: 200px;
  height: 200px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.5); }

.cajaImg:hover .overlay {
  opacity: 1;
  transform: scaleY(1.1); }

.cajaImg:hover img {
  transform: scale(1.3); }

.textOver {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.masVendidas__box {
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 20px auto;
  border: solid 2px black;
  padding: 50px;
  box-sizing: border-box;
  overflow-x: auto;
  display: flex;
  justify-content: center; }

.masVendidas__elementos {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  box-sizing: border-box; }

.experiencia__box, .opiniones__box, .nosotros__box {
  width: 70%;
  height: auto;
  margin: 30px auto;
  padding: 20px 30px;
  box-sizing: border-box;
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: auto; }

.experiencia__elementos {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

.experiencia__textos {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .experiencia__textos a {
    font-size: 2rem;
    text-decoration: none; }

.opiniones__box {
  margin: 30px; }

.opiniones__elementos {
  display: flex;
  flex-direction: row; }

.nosotros__box {
  display: flex; }

.nosotros__textos {
  flex-direction: row;
  margin: 10px; }

.planes__box {
  height: 100%;
  box-sizing: border-box;
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden; }

.planes__list--none {
  list-style-type: none; }

.catalogo__box {
  height: auto;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  overflow-x: auto; }

#pag ul li a {
  color: green; }
  #pag ul li a:hover {
    color: black; }

.resenas {
  display: flex;
  justify-content: center; }

.resenas__box {
  width: 40%;
  height: auto;
  margin: 30px;
  padding: 20px 30px;
  box-sizing: border-box;
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: auto; }

.w100 {
  width: 100%; }

.border-solid {
  border: solid black 2px;
  box-sizing: border-box; }

.button, .button__resenas, .button__resenas--del {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }
  .button:hover, .button__resenas:hover, .button__resenas--del:hover {
    color: white;
    background-color: red;
    border-radius: 15%; }

.button__resenas:hover {
  background-color: blue; }

.button__resenas--del {
  background-color: red; }
  .button__resenas--del:hover {
    background-color: crimson; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.8rem; }
  p {
    font-size: 1.5rem;
    line-height: 2rem; }
  .inicio__box {
    width: 70vw; }
  .masVendidas__box {
    width: 75%;
    display: grid; }
  .masVendidas__elementos {
    overflow-x: hidden; }
  .experiencia__box, .opiniones__box, .nosotros__box {
    width: 50%; }
  .experiencia__elementos {
    flex-direction: column;
    text-align: justify; }
    .experiencia__elementos img {
      width: 200px;
      height: auto; }
  .opiniones__box {
    width: 70vw;
    margin: 10px; }
  .opiniones__elementos {
    flex-wrap: wrap;
    justify-content: center; }
  #videoNst {
    width: 100vw; }
  .nosotros__box {
    flex-direction: column; }
    .nosotros__box img {
      width: 400px; }
  .nosotros__textos {
    text-align: center; }
  .planes__box ul li p {
    font-size: 2rem; } }

.footer {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .footer p {
    font-size: 1rem;
    margin-top: -10px;
    line-height: 1.2rem;
    font-weight: 600;
    margin-left: 10px; }

.footer a {
  text-decoration: none; }

.footer__logo {
  margin-right: 30px; }

.footer__redes img {
  width: 50px;
  height: auto;
  margin-top: 30px;
  margin-right: 20px; }

.footer__texto {
  display: flex;
  flex-direction: column;
  margin-top: 30px; }
