*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body{
	background-image: url(../img/bkg.jpg);
	box-sizing: border-box;
	overflow-x: hidden;
}	

$colores: (
	'uno': grey,
	'dos': wheat,
	'tres': red,
	'cuatro': black,
	'cinco': yellow,
	'seis': rgba(255, 255, 255, .5),
	'siete': green,
	'ocho': white,
	'nueve': crimson,
	'diez': blue
	);
