@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

@mixin textos($font-size, $color, $line-height){
	font-size: $font-size;
	color: map-get($colores, $key:$color);
	line-height: $line-height;
}

$titulo: 3rem;
$subtitulo: 2rem;

h1,h2{
	font-family: 'Bebas Neue', cursive;

}
h1{
	font-size: $titulo;
}

h2{
	font-size: $subtitulo;
}

p{
	@include textos(1.2rem,'cuatro',1.4rem)
}

a{
	font-size: 1rem;
}